/* header */
header {position: fixed;top: 0;left: 0;right: 0;z-index: 100;}
nav ul {width: 100%;list-style: none;margin: 0;padding: 0;background-color: white;}
nav ul li {display: inline-block;}
.dropdown {width: 100%;height: 5vw;text-align: center;position:relative;}
.dropdown-menu>img {width: 7vw;position: relative;transition: all .3s; margin-top: 1vw;}
.dropdown-menu a {/*padding: 40px 40px;*/ display: block;background-color: white;}
.dropdown-content {width: 100%;height: 6vw;position: absolute;opacity: 0;visibility: hidden;transition: all .3s; background-color: white;}
.dropdown-content a {color: #000;font-size: 1.3vw;padding: 1.5vw 1vw;text-decoration: none;display: inline-block;font-weight: 400;}
.dropdown:hover .dropdown-content {display: block;opacity: 1;visibility: visible;}
.dropdown:hover .dropdown-menu>img {width: 14vw;position: relative;transition: all .3s;}
.dropdown-content a:hover {background-color: #f1f1f1;}
/* header end*/
/* -------------------------------------------------------------------- */
/* body start*/
/*Main*/
p {font-family: 'Noto Sans KR', sans-serif;}
.firstcontent {font-family: 'Noto Sans KR', sans-serif;}
.content main {display: flex; justify-content: center;transition: all .3s;}
/*Main-BNR*/
.main-bnr {margin-top: 5vw ;width: 100%;height: 30vw;background-color: gray;}
.main-bnr-card-txt {text-align: left;font-size: 1vw;}
.main-bnr-card2 {justify-content: center;width: 100%;height: 40vw;background-color: gray;margin-bottom: 5vw;}
.main-bnr-card-txt2 p{text-align: center;font-size: 2vw; margin: 0.8vw;}
/*Event-BNR*/
.event-bnr { display: flex;justify-content: center;width: 100%; height: 20vw;}
.enent-bnr-tumb {width: 80vw;height: 20vw;background-color: gray;}
/*Event-Area*/
.event-area {width: 100%;display: flex;justify-content: center;}
.event-area-card { justify-content: center;width: 75vw;height: auto; border: 1px transparent;margin-bottom: 5vw;}
.event-area-txt {font-size: 3vw;}
.event-area-txt p{ width: 100%;margin-left: 1vw;margin-bottom: 0vw;display: flex;}
.event-area-item {display: flex;padding: 1vw;}
.event-area-item-tumb1 {width: 51vw;height: 35vw;border: 0.1vw solid black;background-color: gray;}
.event-area-item-right-container {margin-left: 1vw;}
.event-area-item-tumb2 {width: 20vw;height: 20vw;border: 0.1vw solid black;background-color: gray;}
.event-area-item-logo>img {width: 12vw;display: flex;justify-content: space-around;margin: 5vw 4vw 5vw 4vw }
/*Cand*/
.card-container {width: 100%;height: 30vw; display: flex;justify-items: center;justify-content: space-evenly;margin-bottom: 5vw;}
.card-container-tumb {width: 28vw;border: 0.1vw solid black;background-color: darkgray;}
/*Main-BNR3*/
.main-bnr3 {margin-top: 5vw;display: flex;justify-content: center;width: 100%;height: 30vw;background-color: gray;}
/*footer*/
.footer{width: 100%; height: auto; background-color: white; padding:  3vw 0 3vw 0; border-top: 6px solid black; margin-top: 10vw;}
.footer>img {margin-left: 3vw; width: 18vw;position: relative; padding: 1vw;}
.footer p{margin-left: 3vw;}
.footer address{margin-left: 3vw;}